body {
    background-color:#23538a;
    margin: 0;
    padding: 0;
}

.mainDiv{
    height: 600px;
    width: 600px;
    background-color: cadetblue;
    margin: 0 auto;
    font-size: 0;
}
.mainDiv > div {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin:0 auto;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid black;
}

.red{
    background-color: red;
  
}

.yellow{
    background-color: yellow;
    
}

.green{
    background-color: green;
   
}